{% extends 'Admin.html' %}
{% block title %}Change Password{% endblock %}
{% block name %}{{ user.name }}{% endblock %}
{% block position %}{{ user.position }}{% endblock %}
{% block email %}{{ user.email }}{% endblock %}
{% block main %}

<div class="container">
  <h1 class="mt-4">Change Password</h1>

  <div class="row">
    <div class="col-md-6">
      <form action="{{ url_for('main_bp.change_password') }}" method="POST">
        <div class="mb-3">
          <label for="currentPassword" class="form-label">Current Password:</label>
          <input type="password" class="form-control" id="currentPassword" name="current_password" required>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password:</label>
          <input type="password" class="form-control" id="newPassword" name="new_password" required>
        </div>
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label">Confirm New Password:</label>
          <input type="password" class="form-control" id="confirmNewPassword" name="confirm_new_password" required>
        </div>
        <button type="submit" class="btn btn-dark">Change Password</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
